* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 16px;
}

body {
  background-color: #0c0c0c;
}

.titulo {
  color: #ffffff;
}

.titulos {
  color: #ffffff;
}

hr {
  background-color: white;
  width: 100%;
}

footer {
  background: #0c0c0c;
  height: 40px;
  font-size: 15px;
}

.link {
  font-size: 18px;
  color: #ffffff;
}

.link:hover {
  color: #ffffff;
}

.link:active {
  font-size: 16px;
}

.fondo-de-fondos {
  text-align: center;
  background-color: #0c0c0c;
  padding: 4px;
  margin: 4px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
}

.grid-container-container {
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
      grid-template-areas: "fondo-container";
}

.fondo-container {
  padding: 8px;
  margin: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "container1 container2 container3";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fondo-container;
}

.container1 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container1;
}

.container2 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container2;
}

.container3 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: container3;
}

.grid-container-order {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "order1" "order2" "order3";
}

.order1 {
  min-width: 300px;
  padding: 8px;
  margin: 8px;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "orderA1 orderA2 orderA3 orderA4 orderA5";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: order1;
}

.orderA1 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: orderA1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.orderA2 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: orderA2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.orderA3 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: orderA3;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.orderA4 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: orderA4;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.orderA5 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: orderA5;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.order2 {
  min-width: 300px;
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "orderB1 orderB2 orderB3 orderB4";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: order2;
}

.orderB1 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: orderB1;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.orderB2 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: orderB2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.orderB3 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: orderB3;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.orderB4 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: orderB4;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.order3 {
  min-width: 300px;
  padding: 8px;
  margin: 8px;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "orderC1" "orderC2" "orderC3";
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: order3;
}

.orderC1 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: orderC1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.orderC2 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: orderC2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.orderC3 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: orderC3;
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
}

.grid-container-fd {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  margin: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "flex-directionA flex-directionB" "flex-directionC flex-directionD";
}

.flex-directionA {
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "fdA1 fdA2 fdA3";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: flex-directionA;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fdA1 {
  min-width: 70px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fdA1;
}

.fdA2 {
  min-width: 70px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fdA2;
}

.fdA3 {
  min-width: 70px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fdA3;
}

.flex-directionB {
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "fdB1" "fdB2" "fdB3";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: flex-directionB;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fdB1 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fdB1;
}

.fdB2 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fdB2;
}

.fdB3 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fdB3;
}

.flex-directionC {
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "fdC1 fdC2 fdC3";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: flex-directionC;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fdC1 {
  min-width: 70px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fdC1;
}

.fdC2 {
  min-width: 70px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fdC2;
}

.fdC3 {
  min-width: 70px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fdC3;
}

.flex-directionD {
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "fdD1" "fdD2" "fdD3";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: flex-directionD;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.fdD1 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fdD1;
}

.fdD2 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fdD2;
}

.fdD3 {
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fdD3;
}

.grid-container-fg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "flex-growA" "flex-growB";
}

.flex-growA {
  padding: 8px;
  margin: 8px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "fgA1 fgA2 fgA3";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: flex-growA;
}

.fgA1 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fgA1;
  background: #9de5ff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fgA2 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fgA2;
  background: #9de5ff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fgA3 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fgA3;
  background: #9de5ff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-growB {
  padding: 8px;
  margin: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "fgB1 fgB2 fgB3";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: flex-growB;
}

.fgB1 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fgB1;
  background: #9de5ff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fgB2 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fgB2;
  background: #9de5ff;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.fgB3 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fgB3;
  background: #9de5ff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid-container-fw {
  padding: 8px;
  margin: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "flex-wrapA flex-wrapB";
}

.flex-wrapA {
  padding: 8px;
  margin: 8px;
  max-width: 150px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "fwA1 fwA2 fwA3 fwA4 fwA5";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: flex-wrapA;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fwA1 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fwA1;
  background: #9de5ff;
}

.fwA2 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fwA2;
  background: #9de5ff;
}

.fwA3 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fwA3;
  background: #9de5ff;
}

.fwA4 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fwA4;
  background: #9de5ff;
}

.fwA5 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: fwA5;
  background: #9de5ff;
}

.flex-wrapB {
  padding: 8px;
  margin: 8px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "fwB1 fwB2 fwB3 fwB4 fwB5";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: flex-wrapB;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.fwB1 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fwB1;
  background: #9de5ff;
}

.fwB2 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fwB2;
  background: #9de5ff;
}

.fwB3 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fwB3;
  background: #9de5ff;
}

.fwB4 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fwB4;
  background: #9de5ff;
}

.fwB5 {
  padding: 8px;
  margin: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: fwB5;
  background: #9de5ff;
}

.grid-container-jc {
  padding: 5px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "justify-contentA" "justify-contentB" "justify-contentC" "justify-contentD" "justify-contentE" "justify-contentF";
}

.justify-contentA {
  padding: 8px;
  margin: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "jcA1 jcA2 jcA3";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: justify-contentA;
}

.jcA1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: jcA1;
}

.jcA2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jcA2;
}

.jcA3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jcA3;
}

.justify-contentB {
  padding: 8px;
  margin: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "jcB1 jcB2 jcB3";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: justify-contentB;
}

.jcB1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: jcB1;
}

.jcB2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jcB2;
}

.jcB3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jcB3;
}

.justify-contentC {
  padding: 8px;
  margin: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "jcC1 jcC2 jcC3";
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: justify-contentC;
}

.jcC1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: jcC1;
}

.jcC2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jcC2;
}

.jcC3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jcC3;
}

.justify-contentD {
  padding: 8px;
  margin: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "jcD1 jcD2 jcD3";
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: justify-contentD;
}

.jcD1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: jcD1;
}

.jcD2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jcD2;
}

.jcD3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jcD3;
}

.justify-contentE {
  padding: 8px;
  margin: 8px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "jcE1 jcE2 jcE3";
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: justify-contentE;
}

.jcE1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: jcE1;
}

.jcE2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jcE2;
}

.jcE3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jcE3;
}

.justify-contentF {
  padding: 8px;
  margin: 8px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "jcF1 jcF2 jcF3";
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: justify-contentF;
}

.jcF1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: jcF1;
}

.jcF2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jcF2;
}

.jcF3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jcF3;
}

.grid-container-ai {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "align-itemsA align-itemsB" "align-itemsC align-itemsD" "align-itemsE align-itemsE";
}

.align-itemsA {
  padding: 8px;
  margin: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "aiA1 aiA2 aiA3 aiA4";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: align-itemsA;
}

.aiA1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aiA1;
}

.aiA2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aiA2;
}

.aiA3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aiA3;
}

.aiA4 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: aiA4;
}

.align-itemsB {
  padding: 8px;
  margin: 8px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "aiB1 aiB2 aiB3 aiB4";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: align-itemsB;
}

.aiB1 {
  padding: 8px;
  margin: 8px;
  width: 50px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aiB1;
}

.aiB2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aiB2;
}

.aiB3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aiB3;
}

.aiB4 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: aiB4;
}

.align-itemsC {
  padding: 8px;
  margin: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "aiC1 aiC2 aiC3 aiC4";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: align-itemsC;
}

.aiC1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aiC1;
}

.aiC2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aiC2;
}

.aiC3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aiC3;
}

.aiC4 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: aiC4;
}

.align-itemsD {
  padding: 8px;
  margin: 8px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "aiD1 aiD2 aiD3 aiD4";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: align-itemsD;
}

.aiD1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aiD1;
}

.aiD2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aiD2;
}

.aiD3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aiD3;
}

.aiD4 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: aiD4;
}

.align-itemsE {
  padding: 8px;
  margin: 8px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "aiE1 aiE2 aiE3 aiE4";
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: align-itemsE;
}

.aiE1 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aiE1;
}

.aiE2 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aiE2;
}

.aiE3 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aiE3;
}

.aiE4 {
  padding: 8px;
  margin: 8px;
  width: 40px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: aiE4;
}

.grid-container-as {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  margin: 8px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "align-self";
}

.align-self {
  padding: 8px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: #ac73ff;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "as1 as2 as3 as4";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: align-self;
}

.as1 {
  padding: 8px;
  margin: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: as1;
}

.as2 {
  padding: 8px;
  margin: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: as2;
}

.as3 {
  padding: 8px;
  margin: 8px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: as3;
}

.as4 {
  padding: 8px;
  margin: 8px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 50px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: as4;
}

.grid-container-ac {
  padding: 8px;
  margin: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "align-contentA align-contentB" "align-contentC align-contentD" "align-contentE align-contentF";
}

.align-contentA {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
  padding: 8px;
  margin: 8px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  min-height: 300px;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "acA1" "acA2" "acA3" "acA4";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: align-contentA;
}

.acA1 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: acA1;
}

.acA2 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: acA2;
}

.acA3 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acA3;
}

.acA4 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acA3;
}

.align-contentB {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
  padding: 8px;
  margin: 8px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  min-height: 300px;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "acB1" "acB2" "acB3" "acB4";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: align-contentB;
}

.acB1 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: acB1;
}

.acB2 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: acB2;
}

.acB3 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acB3;
}

.acB4 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acB3;
}

.align-contentC {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
  padding: 8px;
  margin: 8px;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 300px;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "acC1" "acC2" "acC3" "acC4";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: align-contentC;
}

.acC1 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: acC1;
}

.acC2 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: acC2;
}

.acC3 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acC3;
}

.acC4 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acC3;
}

.align-contentD {
  width: 220px;
  padding: 8px;
  margin: 8px;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-height: 300px;
  background: #ac73ff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "acD1" "acD2" "acD3" "acD4";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: align-contentD;
}

.acD1 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: acD1;
}

.acD2 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: acD2;
}

.acD3 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acD3;
}

.acD4 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acD3;
}

.align-contentE {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
  padding: 8px;
  margin: 8px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 300px;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "acE1" "acE2" "acE3" "acE4";
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: align-contentE;
}

.acE1 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: acE1;
}

.acE2 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: acE2;
}

.acE3 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acE3;
}

.acE4 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acE3;
}

.align-contentF {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
  padding: 8px;
  margin: 8px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  min-height: 300px;
  background: #ac73ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "acF1" "acF2" "acF3" "acF4";
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: align-contentF;
}

.acF1 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: acF1;
}

.acF2 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: acF2;
}

.acF3 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acF3;
}

.acF4 {
  max-height: 50px;
  padding: 8px;
  margin: 8px;
  background: #9de5ff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: acF3;
}
/*# sourceMappingURL=main.css.map */